:root {
    --bg-color: #121212;
    --secondary-color: #3c3c3e;
    --accent-color: #3D4FFA;
    --text-color: rgba(255, 255, 255, 0.87);
    --text-light-color: rgba(255, 255, 255, 0.6);
    --text-disabled-color: rgba(255, 255, 255, 0.38);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 2rem;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-size: 20px;
}

