.typebox-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 90%;
    margin: 1rem auto;
}

.text-container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    width: 100%;
}

.input-container {
    position: absolute;
    top: 2%;
    left: 2%;
}

.word {
    display: flex;
    gap: 0.5px;
}

.word > p {
    color: grey;
}

.word > .correct {
    color: black;
}

.word > .incorrect {
    color: red;
}

/* input {
    width: 100%;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    resize: none;
}
input:focus {
    border: none;
    outline: none;
} */